<div id="inline-detail-view" x-show="(formData.formElements[formData.formElementSelect - 1].type === 'text' || formData.formElements[formData.formElementSelect - 1].type === 'email' || formData.formElements[formData.formElementSelect - 1].type === 'password' || formData.formElements[formData.formElementSelect - 1].type === 'url' || formData.formElements[formData.formElementSelect - 1].type === 'number') ? true : false">
    <style>
        @import "assets/css/app.css";
        .form-type {
            margin-bottom: 30px;
        }
        
        .form-type dd {
            font-size: 120%;
            font-weight: bold;
        }
        
        .form-group label {
            font-size: 80%;
            margin-bottom: .25em;
        }
        
        .os-layout-fit {
            gap: 15px;
        }
    </style>
    <div class="formElement formInline">
        <div class="form-type">
            <dl>
                <div>
                    <dt>type:</dt>
                    <dd x-text="formData.formElements.length > 0 ? formData.formElements[formData.formElementSelect - 1].type : ''"></dd>
                </div>
            </dl>
        </div>
        <div class="os-layout-fit">
            <div class="form-group vertical">
                <label for="inline-detail-view-name">name</label>
                <input type="text" id="inline-detail-view-name" x-model="formData.formElements[formData.formElementSelect - 1].name" autocomplete="off" required />
            </div>
            <div class="form-group vertical">
                <label for="inline-detail-view-label">label</label>
                <input type="text" id="inline-detail-view-label" x-model="formData.formElements[formData.formElementSelect - 1].label" autocomplete="off" />
            </div>
        </div>

        <div class="form-group vertical">
            <label for="inline-detail-view-id">id</label>
            <input type="text" id="inline-detail-view-id" x-model="formData.formElements[formData.formElementSelect - 1].id" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-placeholder">placeholder</label>
            <input type="text" id="inline-detail-view-placeholder" x-model="formData.formElements[formData.formElementSelect - 1].placeholder" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-value">value</label>
            <input type="text" id="inline-detail-view-value" x-model="formData.formElements[formData.formElementSelect - 1].value" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-min-length">min length</label>
            <input type="number" id="inline-detail-view-minlength" x-model="formData.formElements[formData.formElementSelect - 1].minlength" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-max-length">max length</label>
            <input type="number" id="inline-detail-view-maxlength" x-model="formData.formElements[formData.formElementSelect - 1].maxlength" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-pattern">validation regex pattern</label>
            <input type="text" id="inline-detail-view-pattern" x-model="formData.formElements[formData.formElementSelect - 1].pattern" autocomplete="off" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-required-true">Is required</label>
            <input type="checkbox" id="inline-detail-view-required-true" x-model="formData.formElements[formData.formElementSelect - 1].required" value="1" autocomplete="off" />
            <input type="hidden" id="inline-detail-view-required" x-model="formData.formElements[formData.formElementSelect - 1].required" value="0" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-view-readonly-true">Is readonly</label>
            <input type="checkbox" id="inline-detail-view-readonly-true" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="1" autocomplete="off" />
            <input type="hidden" id="inline-detail-view-readonly-false" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="0" />
        </div>
        <div class="form-group vertical">
            <label for="inline-detail-disabled-true">Is disabled</label>
            <input type="checkbox" id="inline-detail-disabled-true" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="1" autocomplete="off" />
            <input type="hidden" id="inline-detail-disabled-false" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="0" />
        </div>
    </div>
</div>