<div id="select-detail-view" x-show="(formData.formElements[formData.formElementSelect - 1].type === 'select') ? true : false">
    <style>
        @import "assets/css/app.css";
    </style>
    <div class="formElement formMultiSelect">
        <div class="form-type">
            <dl>
                <dt>type:</dt>
                <dd x-text="formData.formElements.length > 0 ? formData.formElements[formData.formElementSelect - 1].type : ''"></dd>
            </dl>
        </div>
        <div class="os-layout-fit">
            <x-component-wrapper x-component url="assets/components/elements/attributes/name.html"></x-component-wrapper>
            <x-component-wrapper x-component url="assets/components/elements/attributes/label.html"></x-component-wrapper>
        </div>
        <x-component-wrapper x-component url="assets/components/elements/attributes/id.html"></x-component-wrapper>
        <x-component-wrapper x-component url="assets/components/elements/attributes/options.html"></x-component-wrapper>
    </div>
</div>