<div class="formElement formTextarea" id="textarea-detail-view" x-show="formData.formElements.length > 0 && formData.formElements[formData.formElementSelect - 1].isTextarea === true">
    <div class="form-type">
        <dl>
            <dt>type:</dt>
            <dd x-text="formData.formElements.length > 0 && formData.formElements[formData.formElementSelect - 1].type"></dd>
        </dl>
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-name">name</label>
        <input type="text" id="textarea-detail-view-name" x-model="formData.formElements.length > 0 && formData.formElements[formData.formElementSelect - 1].name" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-label">label</label>
        <input type="text" id="textarea-detail-view-label" x-model="formData.formElements.length > 0 && formData.formElements[formData.formElementSelect - 1].label" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-id">id</label>
        <input type="text" id="textarea-detail-view-id" x-model="formData.formElements[formData.formElementSelect - 1].id" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-placeholder">placeholder</label>
        <textarea id="textarea-detail-view-placeholder" x-model="formData.formElements[formData.formElementSelect - 1].placeholder"></textarea>
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-value">value</label>
        <textarea type="text" id="textarea-detail-view-value" x-model="formData.formElements[formData.formElementSelect - 1].value"></textarea>
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-minlength">min length</label>
        <input type="number" id="textarea-detail-view-minglength" x-model="formData.formElements[formData.formElementSelect - 1].minlength" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-maxlength">max length</label>
        <input type="number" id="textarea-detail-view-maxlength" x-model="formData.formElements[formData.formElementSelect - 1].maxlength" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-inputmode">inputmode</label>
        <input type="text" id="textarea-detail-view-inputmode" x-model="formData.formElements[formData.formElementSelect - 1].inputmode" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-rows">rows</label>
        <input type="number" id="textarea-detail-view-rows" x-model="formData.formElements[formData.formElementSelect - 1].rows" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-rows">cols</label>
        <input type="number" id="textarea-detail-view-rows" x-model="formData.formElements[formData.formElementSelect - 1].rows" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-rows">spellcheck</label>
        <input type="text" id="textarea-detail-view-rows" x-model="formData.formElements[formData.formElementSelect - 1].spellcheck" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-wrap">wrap</label>
        <input type="text" id="textarea-detail-view-rows" x-model="formData.formElements[formData.formElementSelect - 1].wrap" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-wrap-true">Is required</label>
        <input type="checkbox" id="textarea-detail-view-wrap-true" x-model="formData.formElements[formData.formElementSelect - 1].required" value="1" />
        <input type="hidden" id="textarea-detail-view-wrap-false" x-model="formData.formElements[formData.formElementSelect - 1].required" value="0" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-checkbox">Is readonly</label>
        <input type="checkbox" id="textarea-detail-view-readonly" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="1" />
        <input type="hidden" id="tex-area-detail-view-readonly" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="0" />
    </div>
    <div class="form-group">
        <label for="textarea-detail-view-disabled">Is disabled</label>
        <input type="checkbox" id="textarea-detail-view-disabled" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="1" />
        <input type="hidden" id="textarea-detail-view-disabled" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="0" />
    </div>
</div>