<div draggable="true" @dragstart="$store.app.formData.dragManage.dragging = index" @dragend="$store.app.formData.dragManage.dragging = null">
    <style>
        @import "assets/css/app.css";
        .element-tip {
            background: #edeafd;
            border-radius: 3px;
            margin-bottom: 1em;
            overflow: hidden;
            border: #c69bc6 1px solid;
        }
        
        .element-tip-content {
            padding: 15px;
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 10px;
            align-items: start;
        }
        
        .element-tip:has(input[type="radio"]:checked) {
            border: #a71212 1px solid;
            box-shadow: 0 0 4px 0 #d71010;
            background: #fff4e8;
        }
        
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        
        .meta {
            position: relative;
        }
        
        .element-number {
            font-size: 150%;
            font-weight: bold;
            font-style: italic;
            color: #b3afc7;
            position: absolute;
            top: -.125em;
            left: -.25em;
        }
        
        input[type="text"] {
            font-size: 90%;
        }
        
        .os-select {
            font-size: 80%;
            padding: .5em
        }
        
        .element-tip {
            position: relative;
        }
        
        .label-shadow {
            inset: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: hsla(189, 100%, 87%, 0.863);
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <label>
        <div class="element-tip">
            <div class="element-tip-content">
                <div class="meta">
                    <input type="radio" :value="index + 1" name="tip-select" x-model="$store.app.formData.formElementSelect" />
                    <p class="element-number" x-text="'#' + (index + 1)"></p>
                </div>
                <dl>
                    <div class="tip-name">
                        <dt class="os-tip">name</dt>
                        <dd>
                            <input type="text" x-model="element.name" placeholder="Untitled">
                        </dd>
                    </div>
                    <div class="tip-label">
                        <dt class="os-tip">label</dt>
                        <dd>
                            <input type="text" x-model="element.label" placeholder="Untitled">
                        </dd>
                    </div>
                    <div class="tip-type">
                        <dt class="os-tip">type</dt>
                        <dd>
                            <div class="os-select-wrap">
                                <select x-model="element.type" class="os-select">
                                    <template x-for="type in types">
                                        <option x-text="type.text" :value="type.value" :selected="type.value === element.type ? true : false"></option>
                                    </template>
                                </select>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="os-button-group">
                <button type="button" class="os-button os-button-negative" @click="$store.app.removeElement(index, $store.app.formData)">Remove</button>
                <button type="button" class="os-button os-button-affirmative" @click="$store.app.addElement('text', index, $store.app.formData)">Add</button>
            </div>
            <p class="label-shadow" x-show.transition="$store.app.formData.dragManage.dragging !== null" @dragenter.prevent="$store.app.dragenter(index)" @dragleave="$store.app.dragleave(index)">Drop here</p>
        </div>
    </label>
</div>