<div>
    <style>
        #element-screen {
            display: grid;
            grid-template-columns: 20% 20% 60%;
        }
        
        #element-list {
            background: #f4f4f4;
        }
        
        .grid-col {
            padding: 15px;
        }
        
        #element-detail {
            background: #fff4e8;
        }
    </style>
    <div id="element-screen">
        <div id="element-list" class="grid-col" @drop.prevent="drop()" @dragover.prevent="dragover()">
            <template x-for="(element, index) in formData.formElements" :key="index">
                <x-component-wrapper x-component url="assets/components/elements/tip.html"></x-component-wrapper>
            </template>
            <x-component-wrapper x-component url="assets/components/add_element.html"></x-component-wrapper>
        </div>
        <div id="element-detail" class="grid-col">
            <x-component-wrapper x-component url="assets/components/elements/element_detail.html"></x-component-wrapper>
        </div>
        <div id="preview" class="grid-col">
            <template x-for="element in formData.formElements">
                <div>
                    <x-component-wrapper x-component url="assets/components/preview/inline.html"></x-component-wrapper>
                    <x-component-wrapper x-component url="assets/components/preview/check_radio.html"></x-component-wrapper>
                    <x-component-wrapper x-component url="assets/components/preview/select.html"></x-component-wrapper>
                    <x-component-wrapper x-component url="assets/components/preview/textarea.html"></x-component-wrapper>
                    <x-component-wrapper x-component url="assets/components/preview/hidden.html"></x-component-wrapper>
                </div>
                
            </template>
            <x-component-wrapper x-component url="assets/components/debug.html"></x-component-wrapper>
        </div>
    </div>
</div>