<div>
    <style>
        @import "assets/css/app.css";
    </style>
    <template x-for="element in formData.formElements">
      <div>
          <x-component-wrapper x-component url="assets/components/preview/inline.html"></x-component-wrapper>
          <x-component-wrapper x-component url="assets/components/preview/check_radio.html"></x-component-wrapper>
          <x-component-wrapper x-component url="assets/components/preview/select.html"></x-component-wrapper>
          <x-component-wrapper x-component url="assets/components/preview/textarea.html"></x-component-wrapper>
          <x-component-wrapper x-component url="assets/components/preview/hidden.html"></x-component-wrapper>
      </div>
    </template>
</div>