<div class="form-group" x-show="element.type === 'select'">
    <template x-show="element.title">
    <label :for="element.id" x-text="element.title"></label>
  </template>

    <select :name="element.name" :id="element.id" :required="element.required ? true : false" :readonly="element.readonly ? true : false" :disabled="element.disabled ? true : false">
  <template x-for="choice in element.choices">
  <option
    :value="choice.value"
    :selected="choice.selected ? true : false"
    x-text="choice.text"
  >
  </option>
  </select>
</div>