table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  min-width: 650px;
  max-width: 80%;
  margin: 0 auto 30px;
}

th, td {
  padding: 1em;
  border: 1px solid #ddd;
}

th {
  background: #f2f2f2;
}