.form-type {
  margin-bottom: 30px;
}

.form-type dd {
  font-size: 120%;
  font-weight: bold;
}

.form-group label {
  font-size: 80%;
  margin-bottom: .25em;
}

.os-layout-fit {
  gap: 15px;
}

div > .form-group:last-child {
  margin-bottom: 15px;
}