<div>
    <style>
        @import "assets/css/app.css";
        .os-layout-fit {
            gap: 15px;
        }
        
        .os-layout-fit input[type="checkbox"] {
            margin-right: -.5em;
        }
        
        .os-layout-fit input[type="checkbox"]+label {
            font-size: 75%;
            letter-spacing: -.05em;
        }
    </style>

    <div class="os-layout-fit">
        <div class="os-check-radio-element">
            <input type="hidden" id="required-false" x-model="formData.formElements[formData.formElementSelect - 1].required" value="0" />
            <input type="checkbox" id="required-true" x-model="formData.formElements[formData.formElementSelect - 1].required" value="1" />
            <label for="required-true">Is required</label>
        </div>

        <div class="os-check-radio-element">
            <input type="hidden" id="readonly-false'" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="0" />
            <input type="checkbox" id="readonly-true" x-model="formData.formElements[formData.formElementSelect - 1].readonly" value="1" />
            <label for="readonly-true">Is readonly</label>
        </div>

        <div class="os-check-radio-element">
            <input type="hidden" id="disabled-false" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="0" />
            <input type="checkbox" id="disabled-true" x-model="formData.formElements[formData.formElementSelect - 1].disabled" value="1" />
            <label for="disabled-true">Is disabled</label>
        </div>
    </div>
</div>