<div>
    <style>
        @import "assets/css/app.css";
        .os-layout-fit {
            gap: 15px;
        }
    </style>

    <div class="os-layout-fit">
        <x-component-wrapper x-component url="assets/components/elements/attributes/flags/multiple.html" x-show="$store.app.formData.formElements[$store.app.formData.formElementSelect - 1].type === 'select'"></x-component-wrapper>
        <x-component-wrapper x-component url="assets/components/elements/attributes/flags/required.html"></x-component-wrapper>
        <x-component-wrapper x-component url="assets/components/elements/attributes/flags/readonly.html"></x-component-wrapper>
        <x-component-wrapper x-component url="assets/components/elements/attributes/flags/disabled.html"></x-component-wrapper>
    </div>
</div>